@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700);

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2'); 
}

body{
    font-family:  'Raleway', 'PT Sans', 'Open Sans', sans-serif;
    margin:0;
    padding: 0;
    background-color: white;
    color:#2F3030; /*default text color is very dark grey*/
/*  background-image:url('Images/Slainte_Logo_Color.png');*/
    position:relative;

}
nav{

 /*   text-align:center;*/
/* opacity:0.3;*/
opacity:0.5;
    transition-duration: 0.5s;
}

nav ul{
    margin: 0;
    /*-webkit-padding-start: 0px;*/
    padding: 0 30px;
    box-sizing: border-box;
    list-style-type: none;
/*    position:relative;*/
     position:fixed;
    height: 50px;
    line-height: 50px;
    display:block;
    overflow:hidden;
    width:100%;
    background-color:black;
}
nav:hover{
    opacity:0.95;

}

nav ul li{
    padding: 0;
    float:left;
    height: 100%;
}

.button {

    /*    background-color:#8AB192; /* Slainte Green **/
    background-color: black;
    margin: 5px;
    font-family: 'Raleway','PT Sans', 'Open Sans', sans-serif;
    border:none;
    /*padding: 0px;*/
    /*padding: 6px 24px 6px 24px;*/
    text-align: center;
    text-transform: uppercase;
    text-decoration: none;
    color:white;*//*button text color
    display: block;/* change to block to remove spaces*/
    font-size: 15px;
    height:50px;
    /* hover animation */
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
    cursor:pointer;
    /*    border-radius:10px;*/
    margin-top:auto; /*centers text in y axis*/
}

.button:hover{
    background-color:#2E2E2E;
/*    transition: transform 2s ease;
font-weight:bold;
transform:scale(1.1);*/
/* box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);*/
}

.S_logo{ 
    background-image: url("https://static.wixstatic.com/media/dbd2b9_e7baa95b6ff74ca89097f1fd1325d34c.png/v1/fill/w_499,h_286,al_c,usm_0.66_1.00_0.01/dbd2b9_e7baa95b6ff74ca89097f1fd1325d34c.png");
    background-size: auto 100%;
    height: 143px;
    background-position: top center;
    background-repeat:no-repeat;
    background-attachment:absolute;
    background-color:#EAEAEA;

}
.button0 {
    /*width:200px;*/ /* Slainte Green */
    padding:0 15px;
    background-color:white;
    border-radius:40px;
}
nav ul li img {
    padding: 0;
    margin: 0;
    height: 50px;
    width: auto;
    /*border-left:0;*/
    /*   background-color:black;*/

}
.button0:hover{
    background-color:white;
    cursor:auto;
    box-shadow:none;
}

.button:active{
   /* when you press it */
   transform:translateY(5px);
   text-decoration: underline;
}
.button0:active{
   /* when you press it */
   transform:translateY(0px);
   text-decoration: overline;
}
.webBody{
    line-height:150%;
    display:block;
   /* left:50px;
    width:calc(100% - 100px);*/
    position:absolute;
    text-align:center;
    background-color:white;/*indicates space of box*/
    z-index:-1;
    overflow:auto;
    /*    background-color:blue;*/
}

.fullpage{
    left:50px;
    min-width:950px;
    width:calc(100% - 100px);
    display: table;
    margin:0 auto;
    margin-bottom:100px;
    /*  padding-top: 50px;*/
    text-align: center;
    border: 1px solid DarkSlateGrey ;
/*    position:static;*/
}

.filler{
    height:50px;
}
.home iframe { /*originally 462x303 dimensions*/
    margin:50px 50px;
    float: left;
    min-height:260px;
    height:303px;
    height:calc(100%-100px);
    min-width:426px;
    width:auto;
}
.home aside ul{
 /*   width:100%;
*/  
text-overflow: ellipsis;
border:DarkSlateGrey 1px solid;
    width:60%;
    min-width:500px;
    list-style-type:none;
/*    display:flex;
    flex-flow:column wrap;
    justify-content:center;
    align-items:center;*/
  /*  position:absolute;*/
}

.home ul li:nth-child(odd){
    background-color:silver;
    /*border-bottom:2px solid gray;*/
}

.home article{
   /* background-color:green;*/
    padding:2%;
    min-width:300px;
    width:50%;
    margin:50px 50px;
    border: 1px solid DarkSlateGrey;
}

.videoReel iframe{
/*    height:260px;
    width:426px;    
    margin:2px;
    position:absolute;*/
        margin: 2%;
    border:2px silver solid;
    float: left;
    height:260px;
    width:426px;
}

.videoReel div{
    min-height:10px;
}
.audio iframe{
/*    margin-left:100px;
    width:calc(100%-200px);
    margin-right:100px;*/
    min-width:750px; 
    margin-bottom:50px;
    position:relative;
}

.audio p{
    position:relative;
    margin-top:10px;
    margin-bottom:10px;
}
.sampleSet{
    display:flex;
    flex-direction: column;
    padding-bottom:20px;
    justify-content:center;
    align-self:center;
}
.sampleSet aside{ /*first section; text description*/
    padding:10px;
    border-bottom:1px DarkSlateGrey solid;    
}

#sampleSetFlex{
    display:flex;
    flex-direction:row;
    justify-content: center;
    align-self:center;
}
.sampleSet section{ /*the column of 2 pictures*/
    display:flex;
    flex-direction:column;
    overflow:hidden;
}
.sampleSet p{ /* side content*/
    line-height:150%;
    width:25%;
    max-width:300px;
    min-height:100px;
    margin-top:20px;
    background-color:#E1E6E8;
    display:flex;
    justify-content:center;
    align-self: center;
}

.sampleSet section img{  /*960/720 for first image*/
/*width:100%;*/
    transition:all 1s ease;
 /*   transform:scale(0.8);*/
    overflow:hidden;
    border-radius: 20px;
    margin:20px 20px 0 20px;
    width:calc(100%-40px);
    max-width:533px;
    height:400px;
    border:2px black solid;
}
a {text-decoration: none;}

.contact{
    background-image:    linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(0, 0, 0, 0.5)
    ),url('Images/contact.jpg'); 
    background-size:cover;
    background-position:center;
    background-repeat:no-repeat;
    height:680px;
    margin-bottom:100px;

    display:flex;
    align-items:center;
    justify-content:center;
/*    opacity:0.5;*/
/*    width:100%;
    height:auto;*/
  /*  border:none;*/
}

.contact section{
    bottom:30px;
    opacity:0.7;
    background-color:white;
    font-size:25px;
    padding:3%;
    min-width:50%;
    border-radius:35%;
    line-height:130%;
    color:Navy;
/*    display:flex;
    align-items:center;
    justify-content:center;
    background-color:yellow;
*/
}
.copyright{
    margin-bottom:0;
    border:0;
}

/*p{
    margin: 2px;
    float: right;
}
*/
h3{
    clear: both;
}

.home{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content: center;
/*    min-height:100%;*/
}
.home section{
    width:100%;
    display:flex;
    flex-flow:row;
/*    background-color:green;*/

}
.home aside{
    color:black;
    display:flex;
    flex-flow:column nowrap;
    justify-content:center;
    align-items:center;
}
.bandBio{ /*band-full-page*/
    display:flex;
    flex-flow:column nowrap;
    /*    width:30%;*/
  /*  background-color:DarkSlateGrey;*/

}
.bMem { /*section for each band member*/
    display:flex;
    justify-content: space-between;
    flex-flow: row nowrap;
    align-items:center;
    justify-content: center;
    height:266px;
    /*border-bottom:2px blue solid;*/
    margin:10px;
/*    margin-bottom:0px;*/
  /*  border: aqua solid 2px;*/
   /* max-height: 10%;*/
/*    align-items:center;*/
/*       background-color:red;*/
}

.bMem>div{/*left side picture+caption band bio*/
/*    border:3px solid green;*/
/*    padding:2%; */
    width:45%;
/*    background-color:yellow;*/
    overflow:hidden;
    height:200px;
    border-bottom:3px solid DarkSlateGrey;
  /*  border:2px solid black;*/
}
.bMem>div>figcaption{
    width:50%;
  /*  float:right;*/
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;
   /* border:silver 2px solid;*/
    background-color:#E1E6E8;
/*  display: inline-block;*/
/*align-items:center;*/
/*  line-height: normal;*/

}

.bMem div figcaption h4{
    color:white;
    background-color:DarkSlateGrey;
    font-weight:200%;
    opacity:0.7;
}
.bMem>div>img{
    /*width:50%;*/
}

.bMem article{ /*right side; description*/
   /* border:3px solid red;*/
    width:55%;
    overflow:hidden;
 /*   background-color:#E1E6E8;*/
 background-color:white;
    /*    padding:20px 20px;*/
/*    padding:2% 2%;*/
/*height:100%;*/
    float:left;
    /*background-color:pink;*/
    height:266px;
}

.bMem article p{   /*paragraphs inside of article of bMem*/
  /*  display:block;*/
  color:#2F3030;
    float:none;
  /*  border:2px solid black;*/
 /*   text-align:left;*/
    width:calc(100%-10px);
    height:246px;
    margin:10px 10px;

    /*to vertically center the text*/
    display:flex;
    justify-content:center;
    flex-direction:column;
    text-align:center;

}


.bMem div {
    /*display:flex;*/
    overflow:hidden;
    height:266px;
    display:flex;
    flex-flow:nowrap row;
}
.bMem div img { /*image of each band members*//*placeholder until more accurate*/
    height: 266px;
    filter:brightness(50%);
/*    transform:scale(0.8);*/
   /* border-radius:2px;*/
 /*   opacity:0.8;*/
    width:50%;
    min-width:266px;
    transition: all 1s ease;
/*    border:solid silver 3px;*/
/*    min-width: 100%;*/
/*    left: 50%;*/
   /* position: relative;*/
/*    transform:scale(0.5);*/
 /*   transform: translateX(-50%);*/
/*    transform:translateY(-30%);*/
}
.bMem div img:hover { /*image of each band members.... to be changed*/
    height:266px;
    transform:scale(1);
    opacity:1;
       filter:brightness(100%);
    /*    width:auto;*/
}


/*div>.fullpage{*/ /*each section of the webpage */
    /*    padding-top:150px;*/
    /*    margin-bottom:0px;
    padding-bottom:-400px;*/
    /*  background-color:yellow;*/
/*    padding:none;
    background-color:brown;
}*/

.title{
    padding-top:48px; /*to synchronize scrolling*/
    font-family:  'Raleway', 'PT Sans', 'Open Sans', sans-serif;
    /* font-weight:bold;*/
    font-size:40px;
    position:static;
  /*  border:3px DarkGreen solid;*/
    margin-bottom:30px;
  /*  text-decoration: black solid 3px;*/
}

.title div{
    padding: 5px 0;
    background-color:DarkSlateGrey;
    color:white;
}
/*.title:hover{
   background-color:silver;
}*/

.audio{
    display:flex;
    flex-flow:column nowrap;
    align-items:center;
    justify-content:center;
}