@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,700|Open+Sans+Condensed:700);

@font-face {
  font-family: 'PT Sans';
  src: local('PT Sans'), local('PTSans-Regular'), url(http://fonts.gstatic.com/s/ptsans/v8/vtwNVMP8y9C17vLvIBNZI_Y6323mHUZFJMgTvxaG2iE.woff2) format('woff2'); 
}

body{
   font-family: 'Open Sans', sans-serif;
   margin:0;
 /*   background-color:#4CAF50;*/
}


ul{
    list-style-type: none;
    background-color:#4CAF50;/*opacity required*/
    opacity:0.2;
    position:fixed;
/*    border-radius:5px;*/
    height:75px;*/
    display:block;
    overflow:hidden;
    width:100%;
    margin:0;

}

li {
    display:inline-block;
    text-transform: capitalize;
}


.button {
    background-color:#4CAF50; /* Green */
    font-family:  'Open Sans';
    border: 1px solid green;
    padding: 0;
/*    border: 0;*/
    text-align: center;
    text-transform:uppercase;
    text-decoration: none;
    display: inline;/* change to block to remove spaces*/
    font-size: 20px;
    width:150px;
    height:75px;
/*    cursor: pointer;*/
}

.button:hover{
	box-shadow: 0 8px 16px 0 rgba(0,0,0,0.2), 0 6px 20px 0 rgba(0,0,0,0.19);
    background-color:white;
}

ul:hover{
    opacity:1;
}